.stories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 150px;
    gap: 0.5rem;

    div {
        width: 100%;
        text-align: center;

        display: flex;
        align-items: end;
        justify-content: center;

        border-radius: var(--radius);
        border: 1px solid var(--border);
        background: linear-gradient(
            180deg,
            rgba(41, 41, 54, 1) 0%,
            rgba(41, 41, 54, 1) 35%,
            rgba(29, 29, 38, 1) 100%
        );

        figure {
            position: relative;
            top: -10px;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 4px solid var(--border);
            outline: 2px solid var(--outline);
        }

        figcaption {
            font-size: 0.8rem;
            font-weight: bold;
            color: var(--caption);
        }

        svg {
            fill: var(--caption);
            border: 2px solid var(--caption);
            border-radius: 8px;
            padding: 0.1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .stories {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-rows: 100px;
    }
}
