.profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        blockquote {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            font-size: 0.8rem;
        }
    }
}
